*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    

}

main{
background-image: url('../images/fundo.jpg');
display: flex;
justify-content: center;
align-items: center;
}

.title{
    -ms-transform: translateX(-50%);
}



.senha{
   display: flex;
   justify-content: center;
   align-items: center;
  
}

.senha input[type="text"], input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


.senha input[name=password]:focus{
    outline: none;
}

.senha input::placeholder {
    font-family: Shadows Into Light;
    color: rgb(73, 73, 73);
  }




  .suaSenha{
    -ms-transform: translateX(-50%);
   
  }

  .suaSenha h2{
    width: 100%;
      text-align: center;
    font-family: roboto;
    font-weight: normal;
    font-size: 36px;
  }


  @media screen and (max-width: 768px){
      .suaSenha h2{
          font-size: 30px;
      }
  }

